/* We set this is up so that the side Drawer only appears on smaller screens */
/* z-index is set above the backdrop otherwise it would be hard to use it*/

.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0; 
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing:border-box;
    transition: transform 0.3 s ease-out;
}

/* if the screen is a minimum width, then the .SideDrawer is not displayed */
@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

/* These are the animation classes for displaying the .SideDrawer */
.Open {
    transform: translateX(0)
}

.Close {
    transform: translateX(-100%)
}

/* margin-bottom is to add space between the logo and the navigation items */
.Logo {
    height: 11%;
    margin-bottom: 5px;
}